@charset "utf-8";
html {
}

body {
    font-size: 12px;
    margin: 16px;
    margin-top: 0;
    overflow : hidden;
    font-family: Arial, Verdana, Helvetica, "宋体", sans-serif;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #2a4d5c;
    background-image: url(images/login_2.jpg);
    background-repeat: repeat-x;
}

.loginTable {
    background: url(images/login_1.png) left center no-repeat;
    width: 1000px;
    height: 100%;
}

.loginTable table {
   width: 580px;
   height: 500px;
}

a, td, th, input, textarea, select {
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, "宋体", sans-serif;
}

a {
    color : #fff;
}

label {
    color : #000;
}

th {
    text-align : right;
    padding-right : 5px;
}

.refreshCode {
    padding-bottom : 3px;
}

.inputButton {
    background: url(images/loginButton.gif) no-repeat;
    width: 77px;
    height: 27px;
    border: 0;
    text-align: center;
    cursor: pointer;
}

.inputText {
    border: 1px solid #94b6c3;
    line-height: 22px;
    height: 22px;
    padding-left: 4px;
    width : 135px;
}

.copyRight {
    text-align: left;
}

.refreshCode {
    padding-bottom: 1px;
}

.red {
    color: #ff0000;
}

.vfError {
    color: #f00;
    font-size: 11px;
}

.loadingMask {
    background-color : #000000;
    position : absolute;
    left : 0px;
    top : 0px;
    z-index : 15000;
}

.loadingDiv {
    height : 20px;
    *height : 30px;
    padding: 10px 30px 0px 30px;
    background-color : #e2eef3;
    border : 1px solid #69929f;
    position : absolute;
    z-index : 15001;
}

.loadingDiv img {
    position : relative;
    top : -2px;
}

.loadingDiv span {
    color : #165E9E;
    position : relative;
    top : -6px;
}

.tabBlock{
    border:1px solid #69929f;
    background:#b0cdd7;
    padding:8px;
    padding-bottom:0;
}
.commnetTabBlock{
    border:1px solid #69929f;
    background:#b0cdd7;
    padding:8px;
    padding-bottom:0;
}

.HideMe {
    display : none;
}

.projectFont {
    font-family: "黑体";
    font-size : 35;
}

.alertMask {
    background-color : #000000;
    position : absolute;
    left : 0px;
    top : 0px;
    z-index : 25000;
}

.alertDiv {
    text-align: center;
    background-color : #e2eef3;
    position : absolute;
    z-index : 25001;
}

.alertMsg {
     padding: 10px 30px 20px 30px;
     height: 35px;
}

.alertDiv table {
    height:100%;
}

.alertDiv span {
    color : #165E9E;
}

.alertCloseButton {
    cursor: pointer;
}

.alertSure {
    margin-bottom : 10px;
}

.confirmMask {
    background-color : #000000;
    position : absolute;
    left : 0px;
    top : 0px;
    z-index : 20000;
}

.confirmDiv {
    width: 400px;

    text-align: center;
    background-color : #e2eef3;
    position : absolute;
    z-index : 20001;
}

.confirmDiv table {
    width: 100%;
    color : #165E9E;
}

.confirmDiv,  .confirmDiv table {
    height : 130px;
}

.confirmCloseButton {
    cursor: pointer;
    position: absolute;
    left: 380px;
    top : 5px;
}

.confirmSure, .confirmCancel, .alertSure {
    border : 1px solid #C6BEA9;
    background-color: 	#E2EEF3;
    *padding-top: 3px;
    width: 60px;
}

.confirmCancel {
    margin-left: 80px
}
